<div class="d-flex justify-content-center"><h1>Show Country</h1></div><br>
<p>
	<strong>Country name:</strong>
	<%= @country.country_name %>
</p>

<div>
	<%= link_to 'Back' , country_index_path, :class=> "btn btn-outline-danger"%>
</div>