<div class="d-flex justify-content-center"><h1>List of Cities                                                                                                                                                                                                                                                                 </h1></div><br>

<table class="table table-striped table-dark table-bordered">
	<thead>
		<tr>
			<th>City Name</th>
		</tr>
	</thead>
	<tbody>
		<% @cities.each  do |city|%>
		<tr>
			<td><%= city.city_name %></td>
			<td><%= link_to 'Show',  city_path(city) %></td>
			<td><%= link_to 'Edit', edit_city_path(city) %></td>
			<td><%= link_to 'Delete',  city_path(city), method: :delete, data: {confirm: 'Are You Sure'} %></td>
		</tr>
		<div>
		</div>
		<% end %>
	</tbody>
</table>
