<div class="d-flex justify-content-center"><h1>Show City</h1></div><br>
<p>
	<strong>City name:</strong>
	<%= @city.city_name %>
</p>

<div>
	<%= link_to 'Back' , city_index_path, :class=> "btn btn-outline-danger"%>
</div>