<div class="d-flex justify-content-center"><h1>Show User Region</h1></div><br>

<p>
	<strong>User:</strong>
	<%= @user_region.user.name %>
</p>
<p>
	<strong>Region:</strong>
	<%= @user_region.region.region_name %>
</p>
<div>
	<%= link_to 'Back' , user_regions_path, :class=> "btn btn-outline-danger"%>
</div> 