<div class="d-flex justify-content-center"><h1>Show Place </h1></div><br>
<p>
	<strong>Place name:</strong>
	<%= @place.place_name %>
</p>

<p>
	<strong>Company Id:</strong>
	<%=	@place.company_id %>
</p>

<div>
	<%= link_to 'Back' , places_path, :class=> "btn btn-outline-danger"%>
</div>